h2 {
    color: $primary-blue;
}
.btn-contact {
    background-color: $primary-blue;
    
   
}

.Years-Experience {
    .h2 {
        color: #2947A9;
    }

    .card-1 {
        max-width: 280px;
    }

    .card-3 {
        max-width: 280px;
    }

    .card-2 {
        max-width: 361px;
    }

    .card-4 {
        max-width: 361px;
    }

}

@media (min-width: 1200px) {
    .card-1 {
        top: 20px;
        right: 80px;

    }

    .card-2 {
        top: -30px;
        left: 0;
    }

    .card-3 {
        top: -40px;
        right: 80px;

    }

    .card-4 {
        top: -60px;
        left: 0;
    }

    .icon-5 {
        top: -50px;
        right: 40px;
    }

    .icon-6 {
        top: 40px;
        left: 0;
    }

    .icon-7 {
        top: 170px;
        right: 60px;
    }

    .icon-8 {
        bottom: 20px;
        right: 320px
    }

    .Experience {
        padding: 70px;

    }
}

@media (max-width: 1199px) {
    .icon-5,.icon-6,.icon-7,.icon-8 {
        display: none;
    }
}