header {
 
   .nav-item {
    padding: 3.125;

    .nav-link {
      color: $headings-color;
    &:hover {
        color:$accent;
      }
    }
  }
}

@media (min-width: 992px){
     header .nav-item {
    padding: 2rem;
  }
}
@media (min-width: 1231px) {
  header .nav-item {
    padding: 3.125rem;
  }
}

@media (min-width: 1400px) {
  header .nav-item {
    padding:2rem;
  }
}