header .nav-item {padding: 3.1250rem;
    .nav-link{
        padding: 0 1.5rem; color: $headings-color;
        &:hover{
            color: $accent;
        }
    }
}



@media (min-width: 1231px){
    header .nav-item {padding: 3.1250rem;} 
}
@media (min-width: 1400px){
    header .nav-item {padding: 0 2rem;}
}